.collapsible-section:hover {
	cursor: pointer;
	text-decoration: underline;
}

.collapsible-section:after {
	content: "➕"; /* Unicode character for "plus" sign (+) */
	font-size: 0.8rem;
	float: right;
}

.collapsible-section.open:after {
	content: "➖"; /* Unicode character for "minus" sign (-) */
}

.dark .collapsible-section:after,
.dark .collapsible-section.open:after {
	filter: brightness(150%);
}

/* Style the collapsible content. Note: hidden by default */
.docs-links .collapsible-wrapper {
	overflow: hidden;
	transition: height 0.5s ease-out;
}

/* nnaro custom */
.dark h1 {
	color: #e16d76;
	border-bottom: solid 1px #e16d76;
}
.dark h2 {
	color: #d19a66;
	border-bottom: solid 1px #d19a66;
}
.dark h3 {
	color: #cec167;
}
.dark h4 {
	color: #98c379;
}
.dark h5 {
	color: #58b6c2;
}
.dark h6 {
	color: #62afef;
}

.light h1 {
	color: #e45749;
	border-bottom: solid 1px #e45749;
}
.light h2 {
	color: #b76b02;
	border-bottom: solid 1px #b76b02;
}
.light h3 {
	color: #c18302;
}
.light h4 {
	color: #50a150;
}
.light h5 {
	color: #0d97b3;
}
.light h6 {
	color: #62afef;
}
