.collapsible-section:hover {
	cursor: pointer;
	text-decoration: underline;
}

.collapsible-section:after {
	content: "➕"; /* Unicode character for "plus" sign (+) */
	font-size: 0.8rem;
	float: right;
}

.collapsible-section.open:after {
	content: "➖"; /* Unicode character for "minus" sign (-) */
}

.dark .collapsible-section:after,
.dark .collapsible-section.open:after {
	filter: brightness(150%);
}

/* Style the collapsible content. Note: hidden by default */
.docs-links .collapsible-wrapper {
	overflow: hidden;
	transition: height 0.5s ease-out;
}

/* nnaro custom */
h1 {
	color: #e16d76;
}
h2 {
	color: #d19a66;
}
h3 {
	color: #cec167;
}
h4 {
	color: #98c379;
}
h5 {
	color: #58b6c2;
}
h6 {
	color: #62afef;
}
